* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("./img/mapa-mundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 375px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
    border-radius: 20px;;
    padding: 34px 24px 23px;
}

label {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
}

label p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 8px;
}

#moedaDeOrigem, .currency-select, .input-currency {
    width: 327px;
    height: 40px;
    border: 2px solid #772FD3;
    border-radius: 10px;
    padding: 0 16px;
    font-size: 16px;
    appearance: none;
}

#moedaDeOrigem, #moedaDeDestino, .input-currency:hover {
    outline: #4b1d82;
    border-color: #5e24a8;
}

.logo-real {
    width: 70px;
}

button {
    width: 327px;
    height: 50px;
    background-color: #772FD3;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #5e24a8;
}

button:active {
    background-color: #4b1d82;
}

section {
    border: 2px solid #772FD3;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 10px;
}

.arrow {
    width: 30px;
}

.currency-box {
    font-size: 18px;
    color: #333333;
    text-align: center;
}

.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
}

.image-currency-converted {
    width: 70px;
}